body {
    background-image: url('../img/copy-space-cupboards.jpg');
    background-size: cover; /* Ajusta la imagen al tamaño del viewport */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Fija la imagen de fondo al desplazar */
}

/* Estilos para el cuerpo de la página */
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para el contenido principal */
main {
    display: flex; /* Establece un contenedor flexible */
    justify-content: space-around; /* Distribuye el espacio entre las secciones */
    flex-wrap: wrap; /* Permite que las secciones se envuelvan cuando no hay suficiente espacio */
}

.horizontal-section {
    width: calc(33.33% - 20px); /* Ancho de cada sección (33.33% del contenedor menos el margen) */
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.horizontal-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
