/* Estilos generales */
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('../img/copy-space-cupboards.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f0f0f0;
    color: #333;
    padding-top: 20px;
}

/* Estilos para el encabezado */
header {
    background-color: #997373;
    color: #fff;
    padding: 7px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Cambiamos la dirección del flujo a vertical */
    align-items: center; /* Centramos horizontalmente */
}

.logo img {
    width: 100px;
    margin-bottom: 10px; /* Ajustamos el margen inferior del logo */
}

.title {
    font-family: 'Montserrat', sans-serif; /* Cambiamos la fuente del título a Montserrat u otra fuente profesional */
    font-size: 36px; /* Tamaño del título */
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para el contenido principal */
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start; /* Alineamos los elementos al inicio */
    margin-top: 20px;
}

.box {
    flex: 1;
    margin: 10px; /* Aumentamos el margen entre las casillas */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el pie de página */
footer {
    background-color: #997373;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Consultas de medios para hacer el diseño más responsivo */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column; /* Cambiamos la dirección del encabezado a vertical */
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .container {
        flex-direction: column; /* Cambiamos la dirección del contenedor a vertical */
        align-items: center; /* Centramos horizontalmente en dispositivos más pequeños */
    }

    .box {
        margin: 10px 0;
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }

    .box {
        padding: 15px; /* Reducimos el padding de las casillas en dispositivos más pequeños */
    }
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    max-height: 700px;
    margin-top: 15px;
}