body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  background-image: url('../img/different-shapes-cupboards.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el cuerpo ocupe al menos el 100% del alto de la ventana */
}

/* Estilos para el contenido */
.content {
  flex: 1; /* Hace que el contenido ocupe el espacio restante */
}

/* Estilos para el encabezado */
header {
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el logo */
.logo {
  order: -1; /* Cambia el orden de aparición en la disposición de flexbox */
}

.logo img {
  max-width: 100px;
}

/* Estilos para el título */
.title {
  flex: 2; /* Ocupa el doble de espacio que los otros elementos */
  text-align: center;
}

.title h1 {
  margin-bottom: 10px;
}

.title p {
  margin-top: 0;
}

/* Estilos para los planes */
.plan {
  background-color: #ffffffdc;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el footer */
footer {
  background-color: #997373;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Ajusta el margen superior automático para mantenerlo al final */
}

/* Estilos para los enlaces de "Ver más" */
.view-more {
  text-align: center;
}

.view-more a {
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.view-more a:hover {
  background-color: #333;
  color: #fff;
}

/* Estilos para los botones en el contenedor */
.btn-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-container a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff8d54;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-container a:hover {
  background-color: #fcd559;
}

.btn-container a img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 5px;
}

/* Estilos para títulos */
h1, h2 {
  color: #333;
}

/* Estilos para listas */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  .logo,
  .title {
      order: -1; /* Cambia el orden de aparición en la disposición de flexbox */
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
  }

  .btn-container {
      position: static; /* Elimina la posición absoluta para que el botón fluya normalmente */
      margin-top: 20px; /* Agrega un margen superior para separar el botón del logo */
  }

  .plan {
      width: calc(50% - 40px);
      margin-bottom: 20px; /* Ajusta el margen inferior para dispositivos más pequeños */
  }
}

@media screen and (max-width: 480px) {
  .logo,
  .title {
      order: -1; /* Cambia el orden de aparición en la disposición de flexbox */
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
  }

  .btn-container {
      position: static; /* Elimina la posición absoluta para que el botón fluya normalmente */
      margin-top: 20px; /* Agrega un margen superior para separar el botón del logo */
  }

  .plan {
      width: calc(100% - 40px);
      margin-bottom: 20px; /* Ajusta el margen inferior para dispositivos más pequeños */
  }
}
.plans-container {
  display: flex;
  justify-content: space-between;
  margin: 20px; /* Ajusta este margen según sea necesario */
}

.plan {
  width: calc(100% / 3); /* Divide el ancho en 3 para cada plan */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  .logo,
  .title {
      order: -1;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
  }

  .btn-container {
      position: static;
      margin-top: 20px;
  }

  .plans-container {
      flex-direction: column;
      align-items: center;
  }

  .plan {
      width: calc(100% - 40px);
      margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .plan {
      width: calc(100% - 40px);
      margin-bottom: 20px;
  }
}
