body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #997373;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.logo img{
    width: 75px;
    margin-right: 10px;
}

.title{
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

section h2 {
    color: #333;
    margin-top: 0; /* Add margin-top to h2 */
}

label {
    margin-bottom: 5px; /* Remove display: block from label */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #937373;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para el bloque de mensaje */
#confirmation {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-width: 400px; /* Tamaño máximo del bloque de mensaje */
    margin: 20px auto; /* Centrar el bloque de mensaje */
}

#message {
    resize: none;
}

/* Agregar estilos para la clase .c-item */
.c-item {
    height: 700px;
    display: flex; /* Para que los elementos internos se comporten como cajas flexibles */
    align-items: center; /* Centra verticalmente los elementos */
}

/* Agregar estilos para la clase .c-img */
.c-img {
    width: 100%; /* Ajustar la imagen al ancho del contenedor */
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    border-radius: 5px; /* Agregar bordes redondeados */
}

