body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header, footer {
    background-color: #fb8e2100;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    background-color: #ffffffc5;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left; /* Hace que las secciones aparezcan una al lado de la otra */
    width: calc(33.33% - 40px); /* Ancho del 33.33% del contenedor, menos el espacio de margen */
    margin-right: 20px; /* Margen derecho para separar las secciones */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
}



/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }


  .logo img {
    max-width: 100px;
  }
  
  /* Estilos para el título y el texto */
  .title {
    flex: 2;
    text-align: center;
  }
  
  .title h1 {
    margin-bottom: 10px;
  }
  
  .title p {
    margin-top: 0;
  }
  
  /* Estilos para hacer el diseño responsivo */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
    
    .logo, .title {
      flex: auto;
      margin-bottom: 20px;
      margin-left:auto;
    }
  }
  


h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

footer {
    margin-top: 20px;
}

.view-more {
    text-align: center;
}

.view-more a {
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.view-more a:hover {
    background-color: #333;
    color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/different-shapes-cupboards.jpg'); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta real de tu imagen */
    background-size: cover; /* Para asegurar que la imagen cubra todo el fondo */
    background-position: center; /* Para centrar la imagen en el fondo */
    background-repeat: no-repeat; /* Para evitar la repetición de la imagen */
}
