/* styles.css */


body {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url('../img/copy-space-cupboards.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #f0f0f0;
  color: #333;
  padding-top: 20px;
}

.logo-container {
  margin-top: 20px;
}

.logo-img {
  max-width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
} 

.card {
    margin-bottom: 20px;
  }
  
  .cart {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .cart .list-group-item {
    border: none;
  }
  
  .cart .list-group-item:last-child {
    border-bottom: 1px solid #ccc;
  }
  
  .cart .list-group-item .btn {
    float: right;
  }
  
  .total {
    font-weight: bold;
  }
  